In [2]:
import numpy as np
import pandas as pd

In [4]:
file = pd.read_csv('/workspaces/PICT_SEM_6/DSBDL/DSBDA_ASS1_DATASET.csv', sep=',', header=None)
print(file)

           0               1                            2             3  \
0     gender  race/ethnicity  parental level of education         lunch
1     female         group B            bachelor's degree      standard
2     female         group C                 some college      standard
3     female         group B              master's degree      standard
4       male         group A           associate's degree  free/reduced
...      ...             ...                          ...           ...
996   female         group E              master's degree      standard
997     male         group C                  high school  free/reduced
998   female         group C                  high school  free/reduced
999   female         group D                 some college      standard
1000  female         group D                 some college  free/reduced

                            4           5              6              7
0     test preparation course  math score  reading score  writing score
1                        none          72             72             74
2                   completed          69             90             88
3                        none          90             95             93
4                        none          47             57             44
...                       ...         ...            ...            ...
996                 completed          88             99             95
997                      none          62             55             55
998                 completed          59             71             65
999                 completed          68             78             77
1000                     none          77             86             86

[1001 rows x 8 columns]