1. Importing needed libraries

In [47]:

import pandas as pd
from sklearn.preprocessing import MinMaxScaler

2,3. Importing data from the dataset

In [48]:
file = pd.read_csv('/workspaces/PICT_SEM_6/DSBDL/DSBDA_ASS1_DATASET.csv', sep=',')
file.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72.0,74.0
1,female,group C,some college,standard,completed,69,90.0,88.0
2,female,group B,master's degree,standard,none,90,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47,57.0,44.0
4,male,group C,some college,standard,none,76,78.0,75.0

4. Shape - It is used to describe the number of rows and columns in dataset.

In [49]:
file.shape

(1000, 8)

4. dtypes - Give information about the data present in the dataset.

In [50]:
file.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                      object
reading score                  float64
writing score                  float64
dtype: object

In [51]:
file.lunch.value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

4. isnull() - find the rowsa having null values

In [52]:
file.isnull().any().count()

8

4. This will display the count of missing values for each column in your dataset.

In [53]:
file.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     8
reading score                  6
writing score                  9
dtype: int64

This will provide summary statistics like count, mean, std (standard deviation), min, 25th percentile, 50th percentile (median), 75th percentile, and max for numerical columns

In [54]:
file.describe()

       reading score  writing score
count     994.000000     991.000000
mean       68.008048      69.487386
std        16.602270      29.563757
min         3.000000      10.000000
25%        58.000000      57.000000
50%        69.500000      69.000000
75%        79.000000      79.000000
max       100.000000     567.000000

5. Inspect unique values in columns to identify unexpected values that might indicate an incorrect data type.

In [55]:
for column in file.columns:
    unique_values = file[column].unique()
    print(f"Unique values in {column}:\n", unique_values)

Unique values in gender:
 ['female' 'male']
Unique values in race/ethnicity:
 ['group B' 'group C' 'group A' 'group D' 'group E']
Unique values in parental level of education:
 ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Unique values in lunch:
 ['standard' 'free/reduced']
Unique values in test preparation course:
 ['none' 'completed']
Unique values in math score:
 ['72' '69' '90' '47' '76' '71' '88' '40' '64' '38' '58' '65' '78' '50' nan
 '74' '73' '67' '70' '62' '63' '56' '81' '75' '57' '55' '53' '59' '66'
 '82' '77' '33' '52' '0' '79' '39' '45' '60' '61' '41' '49' '44' '30' '80'
 '42' '27' '43' '68' '85' '98' '87' '54' '51' '99' '84' '91' '83' '89'
 '22' '100' '96' '94' '46' '97' '48' '35' '34' '86' '92' '37' '28' '24'
 '113' '123' '?' '-89' '26' '334' '95' '36' '29' '32' '93' '19' '23' '8']
Unique values in reading score:
 [ 72.  90.  95.  57.  78.  83.  43.  64.  60.  54.  52.  81.  53.  75.
  89.  32.  22.  12.  13.  14.   9.   8.   7.   6.   4.   3.   5.  34.
  11.  nan  56.  61.  73.  58.  65.  71.  74.  84.  55.  69.  44.  41.
  85.  59.  17.  39.  80.  37.  63.  51.  49.  26.  68.  45.  47.  70.
  86.  79.  66.  67.  91. 100.  76.  77.  82.  92.  93.  62.  88.  50.
  28.  42.  87.  48.  46.  23.  38.  94.  97.  99.  31.  96.  24.  29.
  40.]
Unique values in writing score:
 [ 74.  88.  93.  44.  75.  78.  92.  39.  67.  50.  52.  43.  73.  70.
  58.  86.  28.  46.  61.  63.  53.  nan  80.  72.  55.  65.  38.  82.
  79.  83.  59.  57.  54.  68.  66.  62.  76.  48.  42.  87.  49.  10.
  34.  71.  37.  56.  41.  22.  81.  45.  36.  89.  47.  90. 100.  64.
  98.  51.  40.  84.  69.  33.  60.  85.  91.  77.  27.  94.  95.  19.
  35.  32.  96.  97. 112. 114. 455. 567.  99.  15.  30. 554.  23.]

In [56]:
missing_values = file.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     8
reading score                  6
writing score                  9
dtype: int64

5. convert columns to the correct data type.

In [57]:
file['math score'] = pd.to_numeric(file['math score'], errors='coerce')

5. Normalisation using hot encoding.

In [58]:
reading_score = file['reading score'].values.reshape(-1, 1)

scaler = MinMaxScaler()

file['reading score normalized'] = scaler.fit_transform(reading_score)

6. Turning categorical variables into quantitative variables in Python

In [59]:
file['test preparation course'].replace(['none' , 'completed'],[0,1], inplace=True)

In [60]:
for column in file.columns:
    unique_values = file[column].unique()
    print(f"Unique values in {column}:\n", unique_values)

Unique values in gender:
 ['female' 'male']
Unique values in race/ethnicity:
 ['group B' 'group C' 'group A' 'group D' 'group E']
Unique values in parental level of education:
 ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Unique values in lunch:
 ['standard' 'free/reduced']
Unique values in test preparation course:
 [0 1]
Unique values in math score:
 [ 72.  69.  90.  47.  76.  71.  88.  40.  64.  38.  58.  65.  78.  50.
  nan  74.  73.  67.  70.  62.  63.  56.  81.  75.  57.  55.  53.  59.
  66.  82.  77.  33.  52.   0.  79.  39.  45.  60.  61.  41.  49.  44.
  30.  80.  42.  27.  43.  68.  85.  98.  87.  54.  51.  99.  84.  91.
  83.  89.  22. 100.  96.  94.  46.  97.  48.  35.  34.  86.  92.  37.
  28.  24. 113. 123. -89.  26. 334.  95.  36.  29.  32.  93.  19.  23.
   8.]
Unique values in reading score:
 [ 72.  90.  95.  57.  78.  83.  43.  64.  60.  54.  52.  81.  53.  75.
  89.  32.  22.  12.  13.  14.   9.   8.   7.   6.   4.   3.   5.  34.
  11.  nan  56.  61.  73.  58.  65.  71.  74.  84.  55.  69.  44.  41.
  85.  59.  17.  39.  80.  37.  63.  51.  49.  26.  68.  45.  47.  70.
  86.  79.  66.  67.  91. 100.  76.  77.  82.  92.  93.  62.  88.  50.
  28.  42.  87.  48.  46.  23.  38.  94.  97.  99.  31.  96.  24.  29.
  40.]
Unique values in writing score:
 [ 74.  88.  93.  44.  75.  78.  92.  39.  67.  50.  52.  43.  73.  70.
  58.  86.  28.  46.  61.  63.  53.  nan  80.  72.  55.  65.  38.  82.
  79.  83.  59.  57.  54.  68.  66.  62.  76.  48.  42.  87.  49.  10.
  34.  71.  37.  56.  41.  22.  81.  45.  36.  89.  47.  90. 100.  64.
  98.  51.  40.  84.  69.  33.  60.  85.  91.  77.  27.  94.  95.  19.
  35.  32.  96.  97. 112. 114. 455. 567.  99.  15.  30. 554.  23.]
Unique values in reading score normalized:
 [0.71134021 0.89690722 0.94845361 0.55670103 0.77319588 0.82474227
 0.41237113 0.62886598 0.58762887 0.5257732  0.50515464 0.80412371
 0.51546392 0.74226804 0.88659794 0.29896907 0.19587629 0.09278351
 0.10309278 0.11340206 0.06185567 0.05154639 0.04123711 0.03092784
 0.01030928 0.         0.02061856 0.31958763 0.08247423        nan
 0.54639175 0.59793814 0.72164948 0.56701031 0.63917526 0.70103093
 0.73195876 0.83505155 0.53608247 0.68041237 0.42268041 0.39175258
 0.84536082 0.57731959 0.1443299  0.37113402 0.79381443 0.35051546
 0.6185567  0.49484536 0.4742268  0.2371134  0.67010309 0.43298969
 0.45360825 0.69072165 0.8556701  0.78350515 0.64948454 0.65979381
 0.90721649 1.         0.75257732 0.7628866  0.81443299 0.91752577
 0.92783505 0.60824742 0.87628866 0.48453608 0.25773196 0.40206186
 0.86597938 0.46391753 0.44329897 0.20618557 0.36082474 0.93814433
 0.96907216 0.98969072 0.28865979 0.95876289 0.21649485 0.26804124
 0.3814433 ]